/*REGLAS GENERALES DEL SITIO WEB*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-color: black;
  height: 100%; }

img {
  max-width: 100%;
  max-height: 100%; }

ul {
  list-style: none; }

p {
  color: white; }

a {
  color: white; }

:any-link {
  text-decoration: none; }

/* CARACTERISTICAS DE LAS IMAGENES DE FONDO CON EXTEND*/
.fondoHome, .fondoBarra, .fondoContacto, .fondoParaPicar, .fondoPlatos, .fondoShows {
  background-position: center;
  background-size: cover;
  height: 100%; }

.fondoHome {
  background-image: url(../img/home.png); }

.fondoBarra {
  background-image: url(../img/barra.png); }

.fondoContacto {
  background-image: url(../img/contacto.png); }

.fondoParaPicar {
  background-image: url(../img/paraPicar.png); }

.fondoPlatos {
  background-image: url(../img/platos.png); }

.fondoShows {
  background-image: url(../img/shows.png); }

/*VARIABLES PROPIAS DEL HOME O INDEX CON NESTING*/
div nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3.5rem;
  color: black;
  text-shadow: 2px 2px black; }
  div nav ul li a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    font-size: 4rem;
    border-color: white;
    padding: 0 4rem 0 4rem;
    box-shadow: 0px 0px 5px 5px white;
    border-radius: 2rem; }

/*VARIABLES Y ESTILOS DE DIFERENTES COMPONENTES*/
.logoHome {
  height: 9rem; }

.logoPage {
  height: 7rem; }

header {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.botonNav {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: bold;
  box-shadow: 1px 1px white;
  text-align: center; }

.pageTitulo {
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px black; }

.formulario {
  width: 520px;
  background-color: black;
  margin: auto;
  color: white;
  font-size: 25px;
  text-align: center; }

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  bottom: 0;
  padding: 0% 9% 2px 9%; }
  footer p {
    font-size: large; }

/*hover de los botones RRSS*/
footer div a img:hover {
  transition: all 0.2s;
  background-color: #ea0c0c;
  border-radius: 30%; }

/*CARACTERISTICAS CARRUSEL*/
.carousel {
  padding: 1% 9% 0% 9%;
  border-radius: 20%; }

/*CARRUSEL PLATOS*/
.platosCarrusel {
  border-radius: 30px;
  background: linear-gradient(90deg, #1e1e1e, #464646);
  display: flex;
  color: white;
  align-items: center; }

.textosPlatos {
  display: flex;
  flex-direction: column;
  padding-right: 5%; }

.imagenCarrusel {
  border-radius: 30px 0px 0px 30px;
  padding: 5px 15px 5px 5px;
  height: 55vh; }

/*CARRUSEL SHOWS*/
.showsCarrusel {
  border-radius: 50px;
  background: linear-gradient(90deg, black, #464646);
  display: flex;
  color: white;
  align-items: center; }

.textosShows {
  display: flex;
  flex-direction: column;
  padding-right: 5%; }

.imagenShows {
  border-radius: 30px 0px 0px 30px;
  padding: 5px 15px 5px 5px;
  height: 55vh; }

/*GALERIA DE IMAGENES PARA SECCION BARRA*/
.row {
  display: flex;
  justify-content: center;
  padding: 1% 9% 9% 9%; }

.imagenGaleria {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.5; }

.imagenGaleria:hover {
  opacity: 1;
  transition: all 0.5s; }

.textoImagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vh;
  text-shadow: 2px 1px black;
  font-weight: bold; }

/*ACORDEON CARACTERISTICAS*/
.accordion {
  padding: 1% 9% 9% 9%; }

.accordion-button {
  background-color: black;
  color: white;
  fill: blue; }

.accordion-body {
  background: linear-gradient(90deg, #1e1e1e, #646464);
  color: white; }

/*TABLA GRID ACORDEON*/
.tablaAcordeon {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "item01 price01" "item02 price02" "item03 price03" "item04 price04" "item05 price05" "item06 price06" "item07 price07" "item08 price08" "item09 price09" "item10 price10"; }

.item01 {
  grid-area: item01; }

.item02 {
  grid-area: item02; }

.item03 {
  grid-area: item03; }

.item04 {
  grid-area: item04; }

.item05 {
  grid-area: item05; }

.item06 {
  grid-area: item06; }

.item07 {
  grid-area: item07; }

.price01 {
  grid-area: price01; }

.price02 {
  grid-area: price02; }

.price03 {
  grid-area: price03; }

.price04 {
  grid-area: price04; }

.price05 {
  grid-area: price05; }

.price06 {
  grid-area: price06; }

.price07 {
  grid-area: price07; }

/*M E D I A   Q U E R I E S PARA TABLET Y DESKTOP*/
@media screen and (min-width: 600px) {
  .logoHome {
    height: 12rem; }
  .logoPage {
    height: 8rem; }
  .pageTitulo {
    font-size: 5rem; }
  footer {
    text-align: end; } }

@media screen and (min-width: 1024px) {
  .logoHome {
    height: 16rem; }
  .logoPage {
    height: 8rem; }
  .pageTitulo {
    font-size: 6rem; } }
