/*REGLAS GENERALES DEL SITIO WEB*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-color: black;
  height: 100%; }

img {
  max-width: 100%;
  max-height: 100%; }

ul {
  list-style: none; }

p {
  color: white; }

a {
  color: white; }

:any-link {
  text-decoration: none; }

/* CARACTERISTICAS DE LAS IMAGENES DE FONDO CON EXTEND*/
.fondoHome, .fondoBarra, .fondoContacto, .fondoParaPicar, .fondoPlatos, .fondoShows {
  background-position: center;
  background-size: cover;
  height: 100%; }

.fondoHome {
  background-image: url(../img/fondo-home.png); }

.fondoBarra {
  background-image: url(../img/fondo-barra.png); }

.fondoContacto {
  background-image: url(../img/fondo-contacto.png); }

.fondoParaPicar {
  background-image: url(../img/fondo-paraPicar.png); }

.fondoPlatos {
  background-image: url(../img/fondo-platos.png); }

.fondoShows {
  background-image: url(../img/fondo-shows.png); }

/*VARIABLES PROPIAS DEL HOME O INDEX CON NESTING*/
div menu {
  display: flex;
  padding-top: 15%;
  flex-direction: column;
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 2px 2px black; }
  div menu ul li a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    font-size: 4rem;
    border-color: white;
    padding: 0 4rem 0 4rem;
    box-shadow: 0px 0px 5px 5px white;
    border-radius: 2rem; }

/*VARIABLES Y ESTILOS DE DIFERENTES COMPONENTES*/
.logoHome {
  height: 9rem;
  background-color: 0, 0, 0, 0.5;
  box-shadow: 20px 20px 50px 20px 0, 0, 0, 0.5; }

.logoPage {
  height: 4rem; }

header {
  background-color: black;
  display: flex;
  justify-content: space-between; }

.nav-link {
  color: white;
  font-size: large; }

.nav-item-active {
  font-weight: bolder; }

.nav-item:hover {
  background-color: red;
  border-radius: 30px;
  transition: all 0.5s;
  text-align: center; }

.pageTitulo {
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px black; }

.contacto {
  display: flex;
  flex-direction: column;
  padding: 5% 15%; }

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  bottom: 0;
  padding: 0% 5% 2px 5%; }
  footer p {
    font-size: large;
    text-align: center; }

/*hover de los botones RRSS*/
footer div a img:hover {
  transition: all 0.2s;
  background-color: red;
  border-radius: 30%; }

/*CARACTERISTICAS CARRUSEL*/
.carousel {
  padding: 10% 9% 0% 9%;
  border-radius: 20%; }

/*CARRUSEL PLATOS*/
.platosCarrusel {
  border-radius: 30px;
  background: linear-gradient(90deg, #1e1e1e, #464646);
  margin-bottom: 15%;
  display: flex;
  flex-direction: column-reverse;
  color: white;
  align-items: center; }

.carousel-indicators {
  display: none; }

.textosPlatos {
  display: flex;
  flex-direction: column;
  padding: 5% 5% 2% 5%;
  text-align: center; }

.imagenCarrusel {
  border-radius: 0px 0px 30px 30px;
  width: 100%;
  padding: 5px; }

/*CARRUSEL SHOWS*/
.showsCarrusel {
  border-radius: 40px;
  background: linear-gradient(90deg, black, #464646);
  display: flex;
  color: white;
  align-items: center; }

.textosShows {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5%; }

.imagenShows {
  display: none;
  border-radius: 30px 0px 0px 30px;
  padding: 5px 15px 5px 5px;
  height: 55vh; }

/*GALERIA DE IMAGENES PARA SECCION BARRA*/
.row {
  display: flex;
  padding: 1% 15% 12% 15%; }

.imagenGaleria {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.5; }

.imagenGaleria:hover {
  opacity: 1;
  transition: all 0.5s; }

.textoImagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 1px black; }

/*ACORDEON CARACTERISTICAS*/
.accordion {
  padding: 1% 9% 22% 9%; }

.accordion-button {
  background-color: black;
  color: white;
  fill: blue; }

.accordion-body {
  background: linear-gradient(90deg, #1e1e1e, #646464);
  color: white; }

/*TABLA GRID ACORDEON*/
.tablaAcordeon {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "item01 price01" "item02 price02" "item03 price03" "item04 price04" "item05 price05" "item06 price06" "item07 price07" "item08 price08" "item09 price09" "item10 price10"; }

.item01 {
  grid-area: item01; }

.item02 {
  grid-area: item02; }

.item03 {
  grid-area: item03; }

.item04 {
  grid-area: item04; }

.item05 {
  grid-area: item05; }

.item06 {
  grid-area: item06; }

.item07 {
  grid-area: item07; }

.price01 {
  grid-area: price01; }

.price02 {
  grid-area: price02; }

.price03 {
  grid-area: price03; }

.price04 {
  grid-area: price04; }

.price05 {
  grid-area: price05; }

.price06 {
  grid-area: price06; }

.price07 {
  grid-area: price07; }

/*M E D I A   Q U E R I E S PARA TABLET Y DESKTOP*/
@media screen and (min-width: 700px) {
  .logoHome {
    height: 12rem; }
  .pageTitulo {
    font-size: 5rem; }
  footer {
    text-align: end;
    padding: 0 8% 0 8%; }
  header {
    padding: 0 8% 0 8%; }
  .imagenCarrusel {
    border-radius: 0px 0px 30px 30px;
    padding: 5px 15px 5px 5px;
    height: 55vh;
    width: fit-content; }
  .carousel-indicators {
    display: flex;
    padding-bottom: 12%; }
  .imagenShows {
    display: unset; }
  .textosShows {
    flex-direction: column;
    padding: 0% 15% 0% 0%;
    text-align: left; }
  .accordion {
    padding: 1% 9% 9% 9%; } }

@media screen and (min-width: 1024px) {
  .logoHome {
    height: 16rem; }
  .logoPage {
    height: 5rem; }
  .pageTitulo {
    font-size: 6rem; }
  div menu {
    padding-top: 4%; }
  .row {
    padding: 1% 9% 9% 9%; }
  .carousel {
    padding: 2% 9% 0% 9%;
    margin-bottom: 50px; }
  .platosCarrusel {
    flex-direction: row; }
  .imagenCarrusel {
    border-radius: 30px 0px 0px 30px; }
  .textosPlatos {
    padding: 5% 10% 5% 2%;
    text-align: left; } }
