@import "base/mixin";
@import "base/maps";
@import "base/variables";

/*CARACTERISTICAS CARRUSEL*/
.carousel {
    padding: 1% 9% 0% 9%;
    border-radius: 20%;
  }

  /*CARRUSEL PLATOS*/

.platosCarrusel{
  border-radius: 30px;
  background: linear-gradient(90deg,$color-fondo-caja-mas-claro,rgb(70, 70, 70));
  display: flex;
  color: $color-texto-principal;
  align-items: center;
 }

.textosPlatos{
 display: flex;
 flex-direction: column;
 padding-right: 5%;
}

.imagenCarrusel{
    @include imagenCarrusel;
}

/*CARRUSEL SHOWS*/
.showsCarrusel {
  border-radius: 50px;
  background: linear-gradient(90deg,black,rgb(70, 70, 70));
  display: flex;
  color: $color-texto-principal;
  align-items: center;
 }
 .textosShows{
  display: flex;
 flex-direction: column;
 padding-right: 5%;
 }

 .imagenShows{
    @include imagenCarrusel;
 }

