// CARACTERISTICAS DE LAS IMAGENES DE FONDO
.fondoHome{
    background-image: url(../img/home.png);
    background-position: center;
    background-size: cover; height: 97%;}
.fondoBarra{
    background-image: url(../img/barra.png);
    background-position: center;
    background-size: cover; height: 97%;}
.fondoContacto{
    background-image: url(../img/contacto.png);
    background-position: center;
    background-size: cover; height: 97%;}
.fondoParaPicar{
    background-image: url(../img/paraPicar.png);
    background-position: center;
    background-size: cover; height: 97%;}
.fondoPlatos{
    background-image: url(../img/platos.png);
    background-position: center;
    background-size: cover; height: 97%;}
.fondoShows{
    background-image: url(../img/shows.png);
    background-position: center;
    background-size: cover; height: 97%;}