@import "base/mixin";
/*VARIABLES Y ESTILOS DE DIFERENTES COMPONENTES*/
.logoHome{ height: 9rem;}
.logoPage{ height: 7rem;}

header{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.botonNav{
    margin: 1rem;
    padding: 1rem;
    background-color: $color-fondo-caja;
    border-radius: 2rem;
    font-weight: bold;
    box-shadow: 1px 1px whitesmoke;
    @include textCenter;
}

.pageTitulo{
    @include textCenter;
    font-size: 3rem;
    color: $color-texto-principal;
    text-shadow: 2px 2px black;
}

.formulario{
    width: 520px;
    background-color: $color-fondo-caja;
    margin: auto;
    color: $color-texto-principal;
    font-size: 25px;
    @include textCenter;
}

footer{
    background-color: $color-fondo-caja;
    color: $color-texto-principal;
    @include textCenter;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}