//MIXIN DE PARAMETROS CONCURRENTES

@mixin textCenter{
    text-align: center;
}

@mixin padding0808{
    padding: 0 8% 0 8%;
}

@mixin padding1999{
    padding: 1% 9% 9% 9%;
}

@mixin imagenCarrusel{
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    padding: 5px;
}
