//VARIABLES UTILIZADAS EN TODOS LOS HTML

$color-fondo-caja: black;
$color-fondo-caja-trans: (0, 0, 0, 0.5);
$color-fondo-caja-mas-claro: rgb(30, 30, 30);
$color-texto-principal:white;
$color-texto-atencion:red;
